.container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,.5)
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-family: Arial
  
  .wrap
    position: relative

  .result
    width: 600px
    display: flex
    justify-content: space-between
    span
      color: rgba(#fff, .75)

  table
    position: relative
    width: 600px
    height: 600px
    border: 1px solid #fff
    border-spacing: 9px
    background-color: #000
    box-shadow: 0 0 20px #000
    cursor: pointer

    td
      border: 1px solid rgba(255, 255, 255, .1)
      background-color: #141324
      cursor: default

  canvas
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none